<div id="travis" class="container-fluid">
    <div class="row">
        <h2>Travis CI</h2>
    </div>
    <div class="row">
        <div class="col-sm-12 texto">
            <h4>Travis CI es una plataforma en linea que brinda servicion de integracion continua, tiene
                compativilidad con
                mas de 50 leguajes de programacion y con diferentes sistemas operativos. <br>
                Travis brinda la posibilidad de ejecutar pruebas de forma automatica cuando detecta el cambio de una
                rama que
                este controlando en el repositorio vinculado.Tiene la posibilidad de vincularse a GitHub, GitLab,
                BitBucket y
                Assembla.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 texto">
            <h4><strong>Que se puede hacer con Travis</strong><br><br>
                Travis permite configurar el mismo entorno de desarrollo, en cuanto a version de lenguaje, sistema
                operativo usado, etc, con esto se pueden ejecutar las pruebas definidas en el proyecto, se puede
                ejecutar pruebas
                de verificacion de
                estructura de codigo invocando el servicio correcto, ademas de hacer la compilacion del codigo para
                verificar
                que todo va bien o que se puede llevar a produccion, cuando detecta el cambio en la rama o ramas que se
                estan
                controlando Travis ejecuta estas tareas automaticamente, y en GitHub se ve el resultado, e incluso se
                puede
                configurar que travis haga un pull request en el repositorio. Tambien se puede hacer el despliegue del
                del proyecto, travis tiene compatibilidad con anynines, Atlas, AWS CodeDeploy, AWS Elastic Beanstalk,
                AWS
                Lambda, AWS OpsWorks, AWS S3, Azure Web Apps, bintray, BitBalloon, Bluemix CloudFoundry, Boxfuse,
                Catalyze, Chef
                Supermarket, Cloud 66, CloudFoundry, Cargo, Engine Yard, GitHub Pages, GitHub Releases, Google App
                Engine,
                Google Cloud Storage, Google Firebase, Hackage, Hephy, Heroku, Launchpad, npm, OpenShift,
                packagecloud.io,
                Puppet Forge, PyPI, Rackspace Cloud Files, RubyGems, Scalingo, Script, Snap Store, Surge.sh, TestFairy,
                Transifex.
                Travis al completar las tareas genera un informe log de los resultados donde se indica si todo tuvo
                exito o si
                algo fallo y que fallo, el resultado general se puede enviar por medio de notificaciones a los correos
                electronicos de los miembros del equipo si asi se configura.</h4>
        </div>
        <div class="col-sm-4">
            <img src="assets\img\travisci.png" height="350">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h4><strong>Ejemplo de resultado de tareas de Travis CI</strong></h4>
            <img src="assets\img\resultadotravis.jpg" width="100%">
            <a href="https://travis-ci.com/github/giokey-gv/IntegraConDocker/builds/231160273">https://travis-ci.com/github/giokey-gv/IntegraConDocker/builds/231160273</a>
        </div>
        <div class="col-sm-4">
            <h4><strong>Archivo .travis.yml</strong></h4>
            <img src="assets\img\travisyml.jpg">
        </div>
    </div>
</div>