<div id="codepipeline" class="container-fluid">
    <div class="row texto">
        <h2>AWS CodePipeline</h2>
        <h4>
        AWS CodePipeline es un servicio de entrega continua completamente administrado que permite automatizar canalizaciones de
        lanzamiento para lograr actualizaciones de infraestructura y aplicaciones rápidas y fiables. <br>
        CodePipeline automatiza las
        fases de compilación, prueba e implementación del proceso de lanzamiento cada vez que se realiza una modificación en el
        código, en función del modelo de lanzamiento que defina. Esto permite entregar características y actualizaciones de
        forma rápida y fiable. <br> 
        Se puede integrar fácilmente con servicios de terceros, como GitHub y otros.
        
        AWS CodePipeline permite modelar las diferentes fases del proceso de lanzamiento de software mediante el uso de la
        interfaz de la consola, la CLI de AWS, AWS CloudFormation o los SDK de AWS.
        </h4>
    </div>
    <div class="row text-center">
        <h4><strong>Configuracion de AWS CodePipeline</strong></h4>
            <img src="assets\img\aws.jpg">
            <p>Dirección de despliegue: <a href="https://integracion-continua.s3.us-west-2.amazonaws.com/pagina-angular/index.html">https://integracion-continua.s3.us-west-2.amazonaws.com/pagina-angular/index.html</a></p>
    </div>
  </div>


