<div id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <app-header></app-header>
  <!-- Container (About Section) -->
  <div id="inicio" class="container-fluid">
    <div class="row">
      <div class="col-sm-8 texto">
        <h2>que es integración continua</h2><br>
        <h4>La integración continua es una práctica de desarrollo de software mediante la cual los desarrolladores
          combinan los cambios en el código en un repositorio central de forma periódica, tras lo cual se ejecutan
          versiones y pruebas automáticas. La integración continua se refiere en su mayoría a la fase de creación o
          integración del proceso de publicación de software y conlleva un componente de automatización (p. ej., CI o
          servicio de versiones) y un componente cultural (p. ej., aprender a integrar con frecuencia). Los objetivos
          clave de la integración continua consisten en encontrar y arreglar errores con mayor rapidez, mejorar la
          calidad del software y reducir el tiempo que se tarda en validar y publicar nuevas actualizaciones de
          software.<br><br>
          Con la integración continua, los desarrolladores envían los cambios de forma periódica a un repositorio
          compartido con un sistema de control de versiones como Git. Antes de cada envío, los desarrolladores pueden
          elegir ejecutar pruebas de unidad local en el código como medida de verificación adicional antes de la
          integración. Un servicio de integración continua crea y ejecuta automáticamente pruebas de unidad en los
          nuevos cambios realizados en el código para identificar inmediatamente cualquier error.</h4>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo"></span>
      </div>
    </div>
  </div>

  <!-- github -->
  <app-github></app-github>

  <!-- zenhub -->
  <app-zenhub></app-zenhub>

  <!-- Container (Pricing Section) -->
  <app-dockers></app-dockers>

  <!--travis-->
  <app-travis></app-travis>

  <!--codepipeline-->
  <app-codepipeline></app-codepipeline>

  <!-- Container (Contact Section) -->
  <app-footer></app-footer>
</div>