<div id="github" class="container-fluid bg-grey">
    <div class="row texto">
        <h2>GITHUB</h2><br>
        <h4>
            Github es un repositorio online gratuito que permite gestionar proyectos y controlar versiones de código.
            permite a los desarrolladores administrar cambios en un software a la vez que el proyecto evoluciona. <br>

            En el caso de que un desarrollador quisiera trabajar en un proyecto, sería arriesgado realizar cambios sobre
            el
            código original. El control de versiones permite duplicar una parte de un proyecto de forma aislada y
            trabajar
            sobre ella sin que se modifique el repositorio original. Git es un sistema de control de versiones
            distribuido
            de código abierto desarrollado por Linus Torvalds, el creador de Linux. <br>

            El control de versiones distribuido permite a los desarrolladores descargar un software, realizar cambios y
            subir la versión que han modificado. Todas las modificaciones subidas se guardan en versiones
            independientes, no
            sobrescribiendo en el archivo original. <br>

            La diferencia entre el control de versiones y Git, es que en Git cada desarrollador tendrá en el ordenador
            una
            copia del código fuente original y de las versiones disponibles del proyecto, permitiendo la ramificación y
            fusión. <br></h4>
    </div>
    <div class="row text-center">
        <h4><strong>Repositorio de GitHub</strong></h4>
        <img src="assets\img\git.jpg">
        <P>Dando click a nuestro enlace puedes seguinos en nuestro repositorios</P>
        <p>Enlace Directo <a href="https://github.com/giokey-gv/IntegraConDocker.git" title="">GitHub</a></p>
    </div>
</div>