<div id="codepipeline" class="container-fluid">
    <div class="row texto">
        <h2>Zenhub</h2>
        <h4>
            Zenhub es una herramienta de gestión de proyectos ágil dentro de Github. Tiene muchas ventajas. Acerca la
            gestión de
            proyectos al código para reducir el cambio de contexto y aumentar la productividad del equipo. Brinda la
            oportunidad de
            conectar dos o más repositorios de GitHub a un espacio de trabajo. En general, ZenHub funciona donde lo
            necesita, ya sea
            dentro de GitHub a través de nuestra extensión de navegador o como una aplicación web independiente con
            todas las
            funciones. Esto se centra en ZenHub a través de una extensión de navegador. <br>
        </h4>
    </div>
    <div class="row text-center">
        <h4><strong>Workspace de Zenhub</strong></h4>
        <img src="assets\img\zen.jpg">
        <p><a href="https://app.zenhub.com/workspaces/integracin-continua-60cd32b17c6242001061427f/board?repos=369558491"
                title="">Enlace Directo</a></p>
    </div>
</div>