.navbar {
    margin-bottom: 0;
    background-color: #1a011d;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Segoe UI;
    font-weight: bold;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #e6dcdc !important;
    background-color: rgb(82, 0, 82) !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: rgb(28, 0, 80) !important;
  }