<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="myNavbar">
            <img src="assets\img\logo_borde70.png" id="logo" height="50">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#inicio">INICIO</a></li>
                <li><a href="#github">GITHUB</a></li>
                <li><a href="#zenhub">ZENHUB</a></li>
                <li><a href="#dockers">DOCKERS</a></li>
                <li><a href="#travis">TRAVIS</a></li>
                <li><a href="#codepipeline">CODEPIPELINE</a></li>
                <li><a href="#creadores">CREADORES</a></li>
            </ul>
        </div>
    </div>
</nav>