<div id="creadores" class="container-fluid text-center">
    <div class="row">
        <h2>ING DE SOFTWARE
            <br>
            <br>
            <table class="tabla" cellspacing="20">
                <tr>
                    <th>
                        <p>Fredy Alexander Contreras Garcia&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    </th>
                    <th>
                        <p>Cod. 1721021817</p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <p>Eider Giovanni Velez Benavides</p>
                    </th>
                    <th>
                        <p>Cod. 1821024940</p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <p>Juan David Díaz Calero</p>
                    </th>
                    <th>
                        <p>Cod. 1821024098</p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <P>Luis Alberto Castillo Chitiva</P>
                    </th>
                    <th>
                        <p>Cod. 1811024169</p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <p>Jairo Eddisson Rua Peña</p>
                    </th>
                    <th>
                        <p>Cod. 1811027647</p>
                    </th>
                </tr>
            </table>
            <br><br>
            2021
        </h2>
    </div>
</div>